
<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="404 not found">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/404-style.css">
  </head>
  <body>
    <header>
      <h1>
        Page not found.
      </h1>
    </header>

    <main>   
      <h2 class="text-404">
        404
      </h2>
<!--       <img src="https://cdn.glitch.com/002e5a75-5c96-4d51-a094-655fa0f7e0fe%2Ferror-2129569_1920.jpg?1507716540664" class="img-404" /> -->
    </main>

    <footer>
    </footer>

  </body>
</html>