
<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="Request header parser microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main-style.css">
  </head>
  <body>
    <header>
      <h1>
        Request Header Parser Microservice
      </h1>
    </header>

    <main>      
      <p>Returns a JSON object showing IP address, language and operating system.</p>

      <h2 id="usage">Usage</h2>

      <p>Follow this link to get the JSON object:</p>

    <p><a href="https://as-header-parser.glitch.me/api/whoami">https://as-header-parser.glitch.me/api/whoami</a></p>

    <p>Sample Output:</p>
      
    <div class="wrap-code">
      <code>{<br/>
        "IP Address": "41.184.92.242",<br/>
        "Language": "en-GB,en-US;q=0.8,en;q=0.6",<br/>
        "Operating System": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3)"<br/>
        }
      </code>
    </div>
    </main>

    <footer>
    </footer>

  </body>
</html>